<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <div id='crypto-contanier'>
      <h3>DES对称加密</h3>
      <label for="text">需加密内容</label>
      <input type="text" name='text' id='crypto-text'>
      <label for="key">加密密钥</label>
      <input type="text" name='key' id='crypto-key'>
      <button id='crypto-submit'>提交</button>
    </div>
    <br>
    <div id='decrypt-contanier'>
        <h3>DES对称解密</h3>
        <label for="text">需解密内容</label>
        <input type="text" name='text' id='decrypt-text'>
        <label for="key">解密密钥</label>
        <input type="text" name='key' id='decrypt-key'>
        <button id='decrypt-submit'>提交</button>
      </div>
  </body>
</html>
